<div>
    <button mat-button aria-label="Login as admin" role="button" (click)="loginAsAdmin()" class="button-nav-bar">
      Login as Admin
    </button>  
    <button mat-button aria-label="Login as dashboard" role="button" (click)="loginAsDashboard()" class="button-nav-bar">
      Login as Dashboard
    </button>  
    <button mat-button aria-label="Login as all" role="button" (click)="loginAsAll()" class="button-nav-bar">
      Login as All
    </button>  
    <button mat-button routerLink="/login/registration" aria-label="Registration" role="button" class="button-nav-bar">
        Registration
    </button>
  </div>
